<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<div class="form-group field">
<%= f.label :answer_text, answer.question.question_text.html_safe, class: "label" %>
<%= f.fields_for :answer_text do |af| %>
  <div class="radios">
    <%- answer.question.options.each_with_index do |option, index| %>
      <%= af.label index, class_name: "radio" do %>
        <%= af.check_box index, { checked: checkbox_checked?(answer, option) }, option %>
        <%= option %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
