<%= render partial: "rapidfire/answers/errors", locals: { answer: answer } %>

<div class="form-group">
  <strong>
    <div class="icon-text">
      <span class="icon has-text">
        <i class="fas fa-lg fa-question-circle"></i>
      </span>
      <span>
        <%= f.label :answer_text, answer.question.question_text.html_safe %>
      </span>
    </div>
  </strong>
  <br/>
  <div class="radios radio-buttons">
    <%- answer.question.options.each_with_index do |option, index| %>
      <%= f.radio_button :answer_text, option, id: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}" %>
      <%= f.label "answer_text_#{index}", class: "button" do %>
        <%= option %>
      <% end %>
    <% end %>
  </div>
</div>
