<div class="card article">
  <div class="card-content">

    <h2 class="article-title">
      <%= @survey.introduction %>
    </h2>
    <p>
     TODO: Description
    </p>
    <hr/>

    <%= form_for([@survey, @attempt_builder], method: method) do |f| %>
      <%- @attempt_builder.answers.each do |answer| %>
        <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
          <%= render_answer_form_helper(answer, answer_form) %>
        <% end %>
        <hr/>
      <% end %>

      <%= submit_tag("Abort", { :name => 'reset', :class => 'button is-danger', :type => "reset" }) %>

      <%= f.submit submit_text, class: 'button is-primary' %>
    <% end %>

  </div>
</div>